*{
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
    text-decoration: none;
    font-family: Montserrat,sans-serif;
    list-style: none;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* #Navigation
================================================== */

.start-header {
	/* opacity: 1; */
	transform: translateY(0);
	padding: 20px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 10px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	height: 35px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;

}
.navigation-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
    background-color: inherit;
}
.navbar{
	padding: 0;
}
.navbar-brand img{
	height: 50px;
	width: auto;
	display: block;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #212121 !important;
	font-weight: 500;
    transition: all 200ms linear;
    font-size: 17px;

}
.nav-item:hover .nav-link{
	color: #3097B8 !important;
}
.nav-item.active .nav-link{
	color: #777 !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}

.nav-item{
	position: relative;
    transition: all 200ms linear;
}

.dropdown-menu .dropdown-item{
    margin-bottom: 10px;
}

.signin-btn{
    background-color: #3097B8;
    position: relative;
    padding:7px 10px 7px 10px;
    font-weight: bold;
    bottom: 4px;
    color: #fff;
    border-radius: unset !important;
}

.signin-btn:hover{
    border: 2px solid #ee7425;
    background-color: #ee7425;
    color: #fff;
}
.top__container{
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 40px;
    padding-bottom: 10px;
    /* background-image: url('../images/prepo_bg.jpg');
    background-size: cover; */
    position: relative;
    top: 90px;
    background-color: #b2e8ff;
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fff8f8'/%3E%3Cstop offset='1' stop-color='%23fff8f8' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fff6fb'/%3E%3Cstop offset='1' stop-color='%23fff6fb' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fef9ff'/%3E%3Cstop offset='1' stop-color='%23fef9ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fffbf5'/%3E%3Cstop offset='1' stop-color='%23fffbf5' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fffafd'/%3E%3Cstop offset='1' stop-color='%23fffafd' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23faf7ff'/%3E%3Cstop offset='1' stop-color='%23faf7ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");*/
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;

    /* background: linear-gradient(to right, rgba(255,255,255,1), #F8FAFB); */

}
.top__content{
    display: grid;
    grid-template-columns: 50% 50%;
}

.left__side__top h1{
    font-size: 38px;
    color: #384257;
    line-height: 44px;
    margin-bottom: 20px;
}

.right__side__top img{
    width: 100%;
}



.left__side__top .trial-box .form-control{
    padding: 30px;
    offset: inherit !important;
}



#start-trial-btn{
    background-color: #ee7425;
    color: #fff;
    border: none;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
}



.prepo__container{
    padding: 120px 100px 100px 100px;
}

.mid__prepo{
    padding-top: 20px;
}

.prepo__content__inner{
    padding-top: 10px;
    margin-bottom: 40px !important;
    margin: 2px;
}


.prepo__img figure img{
    width: 300px;
}



.prepo__title h2{
    margin-bottom: 20px;
    font-size:26px !important;
    color: #000;
    font-weight: bolder;
    margin-left: 100px;
}

.lead h3{
    color:#000;
    font-weight: bold;
    font-size: 22px;
}
.prepo__main__content .prepo__p{
    margin-top: 30px;
}

.prepo__main__content .prepo__p p{
    font-size: 18px;
    font-weight: unset;
    line-height: 33px;
}

 /* Kreeksend Partners */

 .kreeksend_partners{
    padding-top: 100px;
    padding-left:130px;
    padding-right: 130px;
    padding-bottom: 10px;
    /* background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fffefb'/%3E%3Cstop offset='1' stop-color='%23fffefb' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ffffff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fffefb'/%3E%3Cstop offset='1' stop-color='%23fffefb' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ffffff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fffdf7'/%3E%3Cstop offset='1' stop-color='%23fffdf7' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ffffff' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; */
     /* box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15); */

    background-color: #F8FAFB;
    
}

.kreeksend_partners .heading__text h2{
    font-size:28px !important;
    text-align: center;
    text-transform: uppercase;
}



.kreeksend_partners_img{
    margin-bottom: 0px;
    text-align: center;
  
}

.kreekafrica{
    position: relative;
    bottom: 20px;
}

.kreekafrica img{
    width: 140px;
}

.tekedia{
    position: relative;
    top: 25px;
}

.tekedia img{
    width: 140px;
}

.workshed img{
    width: 140px;
}

.smart_solutions{
    position: relative;
    bottom: 25px;
}

.smart_solutions img{
    width: 150px;
}
.cropyfy{
    position: relative;
    top: 15px;
}
.cropyfy img{
    width: 60px;
}

.oilet{
    position: relative;
    bottom: 0px;
}
.oilet img{
    width: 80px;
}


 /* Pricing */
    
 .pricing__container{
    padding-top: 80px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom:70px;
}

.plans{
    background-image: url('../images/plans_banner.svg');
    background-size: cover;
}

.pricing__container .heading__text h2{
    font-size: 40px;
    color: #000;
    font-weight: unset !important;
}

.pricing__flex{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 1rem;
    padding-left: 10px;
    padding-right: 10px;

}

.pricing__package{
    margin-top: 30px;
    padding: 30px !important;
    border: .125rem solid #dbd9d2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3.125rem 1.25rem 1.25rem;
    margin: 1.25rem 0;
    position: relative;
}

.pricing__benefits__box{
    margin-top: 30px;
}
.pricing__benefits__box ul{
    display: inline-block;
    list-style-type: disc;
    padding-left: unset !important;
}

.pricing__benefits__box ul li{
    list-style: none;
    margin-bottom: 14px;
}

/* .essential{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fffefb'/%3E%3Cstop offset='1' stop-color='%23fffefb' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ffffff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fffefb'/%3E%3Cstop offset='1' stop-color='%23fffefb' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ffffff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fffdf7'/%3E%3Cstop offset='1' stop-color='%23fffdf7' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ffffff' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
} */

.pricing__package .pricing__package__title h3{
    font-size: 28px !important;
    color: #000;
    font-weight: unset !important;
}

.plans .pricing__flex .pricing__flex .pricing__package__title h3{
    color: #fff;
}


.pricing__package__description{
    margin-top: 20px;
}
.pricing__package__description p{
    font-size: 15px;
}

.pricing__carriage{
    padding: 5px;
}

.pricing__carriage h4{
    color:#000;
    font-size: 22px;
}

.dollar__sign{
    position: relative;
    top: -50px;
}

.package__fee{
    font-size: 70px;
    font-weight: normal;
}

.pricing__package__link{
    margin-top: 15px;
}
.pricing__package__link .package__btn{
    background-color:#3097B8 ;
    padding: 12px;
    color: #fff;
    font-weight: bold;
    border-radius: unset !important;
}

.pricing__package__link .package__btn:hover{
    border: 2px solid #ee7425;
    background-color: #ee7425;
    color: #fff;
}

.pricing__package__compare .btn-lg{
    padding: 12px 15px 12px 15px;
    color: #000;
    font-weight: bold;
    background-color: #F2F527;
    border-radius: 30px;
    font-size: 20px;
}
.pricing__package__compare .btn-lg:hover{
    background-color: #000;
    color: #F2F527;
}

/* Benefits */
.benefits{
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom:0px;
}

/* Start__trial */
.start__trial{
    padding: 100px 130px 100px 130px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1013%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(12%2c 70%2c 130%2c 1)'%3e%3c/rect%3e%3cpath d='M1227.1599999999999 250.69 L1307.48 226.32999999999998L1226.745253535128 197.93525353512808z' fill='%23d3b714'%3e%3c/path%3e%3crect width='369' height='369' clip-path='url(%26quot%3b%23SvgjsClipPath1014%26quot%3b)' x='518.5' y='176.31' fill='url(%23SvgjsPattern1015)' transform='rotate(194.18%2c 703%2c 360.81)'%3e%3c/rect%3e%3crect width='276' height='276' clip-path='url(%26quot%3b%23SvgjsClipPath1016%26quot%3b)' x='773.88' y='328.85' fill='url(%23SvgjsPattern1017)' transform='rotate(200.81%2c 911.88%2c 466.85)'%3e%3c/rect%3e%3crect width='276' height='276' clip-path='url(%26quot%3b%23SvgjsClipPath1018%26quot%3b)' x='1026.65' y='142.79' fill='url(%23SvgjsPattern1019)' transform='rotate(118.61%2c 1164.65%2c 280.79)'%3e%3c/rect%3e%3cpath d='M500.58 230.59L510.52 222.51 520.58 230.44 530.52 222.37 540.58 230.29 550.52 222.22 560.58 230.15M500.64 238.59L510.58 230.51 520.64 238.44 530.58 230.37 540.64 238.29 550.58 230.22 560.64 238.15M500.7 246.59L510.64 238.51 520.7 246.44 530.64 238.37 540.7 246.29 550.64 238.22 560.7 246.15' stroke='%23e73635' stroke-width='1.27' stroke-dasharray='3%2c 3'%3e%3c/path%3e%3cpath d='M1068.72 561.62 L1032.14 527.2L1084.76921205594 510.0707879440601z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M236.02 6.66a5.6 5.6 0 1 0 4.29-10.35 5.6 5.6 0 1 0-4.29 10.35zM242.14-8.13a5.6 5.6 0 1 0 4.29-10.35 5.6 5.6 0 1 0-4.29 10.35zM248.26-22.91a5.6 5.6 0 1 0 4.29-10.35 5.6 5.6 0 1 0-4.29 10.35zM254.38-37.69a5.6 5.6 0 1 0 4.29-10.35 5.6 5.6 0 1 0-4.29 10.35zM238.56 42.34a5.6 5.6 0 1 0 4.29-10.35 5.6 5.6 0 1 0-4.29 10.35zM244.68 27.56a5.6 5.6 0 1 0 4.29-10.35 5.6 5.6 0 1 0-4.29 10.35zM250.8 12.78a5.6 5.6 0 1 0 4.29-10.35 5.6 5.6 0 1 0-4.29 10.35zM256.93-2.01a5.6 5.6 0 1 0 4.28-10.34 5.6 5.6 0 1 0-4.28 10.34zM241.11 78.03a5.6 5.6 0 1 0 4.28-10.35 5.6 5.6 0 1 0-4.28 10.35zM247.23 63.25a5.6 5.6 0 1 0 4.28-10.35 5.6 5.6 0 1 0-4.28 10.35zM253.35 48.46a5.6 5.6 0 1 0 4.28-10.34 5.6 5.6 0 1 0-4.28 10.34zM259.47 33.68a5.6 5.6 0 1 0 4.28-10.35 5.6 5.6 0 1 0-4.28 10.35z' fill='%23037b0b'%3e%3c/path%3e%3crect width='198.8' height='198.8' clip-path='url(%26quot%3b%23SvgjsClipPath1020%26quot%3b)' x='401.61' y='223.6' fill='url(%23SvgjsPattern1021)' transform='rotate(184.49%2c 501.01%2c 323)'%3e%3c/rect%3e%3crect width='312' height='312' clip-path='url(%26quot%3b%23SvgjsClipPath1022%26quot%3b)' x='359.88' y='122.48' fill='url(%23SvgjsPattern1023)' transform='rotate(264.35%2c 515.88%2c 278.48)'%3e%3c/rect%3e%3crect width='184.68' height='184.68' clip-path='url(%26quot%3b%23SvgjsClipPath1024%26quot%3b)' x='593.76' y='216.25' fill='url(%23SvgjsPattern1025)' transform='rotate(17.94%2c 686.1%2c 308.59)'%3e%3c/rect%3e%3cpath d='M1166.12 86.19a5.6 5.6 0 1 0-7.13 8.64 5.6 5.6 0 1 0 7.13-8.64zM1155.94 98.53a5.6 5.6 0 1 0-7.13 8.64 5.6 5.6 0 1 0 7.13-8.64zM1145.75 110.87a5.6 5.6 0 1 0-7.13 8.64 5.6 5.6 0 1 0 7.13-8.64zM1135.57 123.21a5.6 5.6 0 1 0-7.13 8.64 5.6 5.6 0 1 0 7.13-8.64z' stroke='%23e73635' stroke-width='2.12' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3cpath d='M1471.75 348.08 L1510.24 307.74L1519.9661511985355 356.88115119853563z' stroke='%23037b0b' stroke-width='2.69' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1013'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='7.38' height='7.38' patternUnits='userSpaceOnUse' id='SvgjsPattern1015'%3e%3cpath d='M0 7.38L3.69 0L7.38 7.38' stroke='%23e73635' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1014'%3e%3ccircle r='92.25' cx='703' cy='360.81'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1017'%3e%3cpath d='M0 6L3 0L6 6' stroke='%23037b0b' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1016'%3e%3ccircle r='69' cx='911.88' cy='466.85'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1019'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='%23d3b714' fill='none' stroke-width='1.27'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1018'%3e%3ccircle r='69' cx='1164.65' cy='280.79'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='198.8' height='9.94' patternUnits='userSpaceOnUse' id='SvgjsPattern1021'%3e%3crect width='198.8' height='4.97' x='0' y='0' fill='%23d3b714'%3e%3c/rect%3e%3crect width='198.8' height='4.97' x='0' y='4.97' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1020'%3e%3ccircle r='49.7' cx='501.01' cy='323'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1023'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='%23e73635' fill='none' stroke-width='1.49'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1022'%3e%3ccircle r='78' cx='515.88' cy='278.48'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='10.26' height='10.26' patternUnits='userSpaceOnUse' id='SvgjsPattern1025'%3e%3cpath d='M0 10.26L5.13 0L10.26 10.26' stroke='%23e73635' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1024'%3e%3ccircle r='46.17' cx='686.1' cy='308.59'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 100%; */
    /* background-color: #ee7425; */

}

.start__trial .start__trial__content{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1.5rem;
}

.start__trial .start__trial__content .start__trial__description h3{
    color: #fff;
    font-weight: bolder;
    font-size: 36px;
}

.start__trial .start__trial__content .start__trial__form__box .form-control{
    padding: 40px;
}



  /* FOOTER */
  .footer{
    background-color: #F8FAFB;
    padding: 70px 150px 50px 150px;
    /* border-top: 1px solid #999; */

}

.footer .footer__top{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 2rem;
    position: relative;
    justify-items: center;
}
.footer__top__content .footer__top__content__title{
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 500;
}


.footer__top__content .footer__top__content__items a{
    display: block;
    margin-bottom: 10px;
    color: #000;
    font-size: 14px;
}

.footer__middle{
    display: flex;
    margin-top: 15px;
    position: relative;
    justify-content: space-between;
    padding-left: 69px;
    padding-right: 69px;
}

.social__links a{
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    color: #000;
}

.footer__base{
    margin-top: 20px;
}

.footer__base .footer__base__content{
   position: relative;
   padding: 7px;
}

.footer__base .footer__base__content a{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    color: #000;
}

.site__copyright{
    margin-top: 15px;
    color: #000;
}


.campaigns__box{
    background-image: url('../images/campaign__banner.svg');
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 80px;
}

.campaigns__box .campaigns__top{
    padding-top: 80px;
   padding-right: 200px;
   padding-left:200px;
   text-align: center;
}  

.campaigns__box .campaigns__top h2{
    color: #fff;
    font-size: 50px;
}

.campaigns__box .campaigns__top p{
    color: #fff;
    font-size: 24px;
    margin-top: 10px;
}

.campaigns__box .campaigns{
    padding: 20px 100px 20px 100px;
}

.campaigns__box .campaigns .campaign__lists a{
    display: inline;
    margin-left: 7px;
    margin-right: 7px;
    background-color: #ee7425;
    color: #fff;
    padding:12px;
    font-weight: bold;
}

.campaigns__box .campaigns .campaign__lists a:hover{
    background-color: #fff;
    color: #3097B8;
}

.campaigns__list__details{
    padding:0px 250px 50px 250px;
}

.campaign__list__items{
    margin-top: 120px;
}

.campaigns__list__details .campaign__list__items .campaign__list__header h4{
    font-size: 35px;
    font-weight: bold;
}

.campaigns__list__details .campaign__list__items p{
    font-size: 20px;
}

.campaigns__list__details .campaign__list__items .campaign__list__content{
    margin-top: 10px;
}
.campaign__image__content img{
    width: 100%;
}








/* ///////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////// */


/* MEDIA QUERIES */
@media screen and (max-width:600px){
    .collapse{
    position: relative;
    bottom:0;
    

    }
    
    .navbar-collapse .navbar-nav .nav-item{
        margin-bottom: 30px;
        margin-left: 10px;
    }
    

    .header .navbar .navbar-brand img{
        width: 50%;
    }


    /* Top Content .top__content */
    .top__container{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
 
    }
 
    .top__content{
        display: flex;
        flex-direction: column;

    }
    .left__side__top h1{
        font-size: 30px;
       
    }

    .left__side__top .trial-box  {
        margin-top: 20px;
    }

    .left__side__top .trial-box form .input-group .form-control{
        padding: 30px;
    }

    #start-trial-btn{
        background-color: #ee7425;
        color: #fff;
        
    }

    .right__side__top img{
        width: 100%;
    }

    .prepo__container{
        padding: 120px 10px 10px 20px;     
    }
    
    .prepo__panel{
        display: flex;
        flex-direction: column;
    }

    
    .prepo__img figure img{
        width: 230px;
    }
    
    
    
.prepo__title h2{
        margin-bottom: 24px;
        font-size:28px !important;
        font-weight: unset !important;
        line-height: 33px;
        margin-left:0px;
    }

    
    .prepo__main__content .prepo__p{
        margin-top: 50px;
    }
    .prepo__main__content .prepo__p p{
        color: #000;
        font-size: 17px;
          font-weight: unset !important;
          line-height: 28px;
    }


    /* Kreeksend Partners */

    .kreeksend_partners{
        padding-top: 60px;
        padding-left: 3px;
        padding-right: 3px;
        padding-bottom: 0px;
        background-color: #fff !important;
        background-image: unset !important;
        /* background-color: #F8FAFB; */
    }
  
    .kreeksend_partners .heading__text h2{
        font-size:20px !important;
        text-transform: uppercase;
        text-align: center !important;
    }


    .splide__slide{
        margin-left: 30px;
        margin-right: 30px;
    }
    /* .partners__mini{
        display: inline-block;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: unset !important;
        margin-top: 5px;
    } */

 
 
    .kreeksend_partners_img{
        margin-bottom: 0px;
        text-align: center;
        margin-top: 20px;
    }
    .kreekafrica{
        position: relative;
        bottom: 10px;
    }

    .kreekafrica img{
        width: 130px !important;
    }

    .tekedia{
        position: relative !important;
        top: 30px !important;
    }

    .tekedia img{
        width: 130px !important;
    }

    .workshed img{
        width: 150px !important;
    }

    .smart_solutions{
        position: relative !important;
        bottom: 25px !important;
    }

    .smart_solutions img{
        width: 150px !important;
    }

    .cropyfy img{
        width: 80px !important;
    }

    .oilet{
        position: relative !important;
        bottom: 0px !important;
    }
    .oilet img{
        width: 100px !important;
    }

    /* Pricing */
    
    .pricing__container{
        padding-top: 30px;
        padding-left: 3px;
        padding-right: 3px;
        padding-bottom: 30px;
    }
    .plans{
        padding-top: 50px;
    }

    .pricing__container .heading__text h2{
        font-size: 30px;
        font-weight: bolder;
        text-align: unset !important;
    }

    .pricing__flex{
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }

    .pricing__package{
        margin-top: 15px;
        padding-top: 10px;        
    }

    .pricing__package .pricing__package__title h3{
        font-size: 24px;
    }
   
    .pricing__carriage{
        padding: 5px;
    }

    .pricing__carriage h4{
        color: #000;
        font-size: 22px;
    }

    .package__fee{
        font-size: 60px;
    }

    .pricing__package__description{
        margin-top: 4px;
    }
    .pricing__package__description p{
        font-size: 13px;
    }

    .dollar__sign{
        position: relative;
        top: -30px !important;
    }

    .pricing__package__compare{
        padding: 4px;
        margin-top: 20px;
    }

    .start__trial{
        padding: 30px !important;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1013%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(12%2c 70%2c 130%2c 1)'%3e%3c/rect%3e%3cpath d='M1227.1599999999999 250.69 L1307.48 226.32999999999998L1226.745253535128 197.93525353512808z' fill='%23d3b714'%3e%3c/path%3e%3crect width='369' height='369' clip-path='url(%26quot%3b%23SvgjsClipPath1014%26quot%3b)' x='518.5' y='176.31' fill='url(%23SvgjsPattern1015)' transform='rotate(194.18%2c 703%2c 360.81)'%3e%3c/rect%3e%3crect width='276' height='276' clip-path='url(%26quot%3b%23SvgjsClipPath1016%26quot%3b)' x='773.88' y='328.85' fill='url(%23SvgjsPattern1017)' transform='rotate(200.81%2c 911.88%2c 466.85)'%3e%3c/rect%3e%3crect width='276' height='276' clip-path='url(%26quot%3b%23SvgjsClipPath1018%26quot%3b)' x='1026.65' y='142.79' fill='url(%23SvgjsPattern1019)' transform='rotate(118.61%2c 1164.65%2c 280.79)'%3e%3c/rect%3e%3cpath d='M500.58 230.59L510.52 222.51 520.58 230.44 530.52 222.37 540.58 230.29 550.52 222.22 560.58 230.15M500.64 238.59L510.58 230.51 520.64 238.44 530.58 230.37 540.64 238.29 550.58 230.22 560.64 238.15M500.7 246.59L510.64 238.51 520.7 246.44 530.64 238.37 540.7 246.29 550.64 238.22 560.7 246.15' stroke='%23e73635' stroke-width='1.27' stroke-dasharray='3%2c 3'%3e%3c/path%3e%3cpath d='M1068.72 561.62 L1032.14 527.2L1084.76921205594 510.0707879440601z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M236.02 6.66a5.6 5.6 0 1 0 4.29-10.35 5.6 5.6 0 1 0-4.29 10.35zM242.14-8.13a5.6 5.6 0 1 0 4.29-10.35 5.6 5.6 0 1 0-4.29 10.35zM248.26-22.91a5.6 5.6 0 1 0 4.29-10.35 5.6 5.6 0 1 0-4.29 10.35zM254.38-37.69a5.6 5.6 0 1 0 4.29-10.35 5.6 5.6 0 1 0-4.29 10.35zM238.56 42.34a5.6 5.6 0 1 0 4.29-10.35 5.6 5.6 0 1 0-4.29 10.35zM244.68 27.56a5.6 5.6 0 1 0 4.29-10.35 5.6 5.6 0 1 0-4.29 10.35zM250.8 12.78a5.6 5.6 0 1 0 4.29-10.35 5.6 5.6 0 1 0-4.29 10.35zM256.93-2.01a5.6 5.6 0 1 0 4.28-10.34 5.6 5.6 0 1 0-4.28 10.34zM241.11 78.03a5.6 5.6 0 1 0 4.28-10.35 5.6 5.6 0 1 0-4.28 10.35zM247.23 63.25a5.6 5.6 0 1 0 4.28-10.35 5.6 5.6 0 1 0-4.28 10.35zM253.35 48.46a5.6 5.6 0 1 0 4.28-10.34 5.6 5.6 0 1 0-4.28 10.34zM259.47 33.68a5.6 5.6 0 1 0 4.28-10.35 5.6 5.6 0 1 0-4.28 10.35z' fill='%23037b0b'%3e%3c/path%3e%3crect width='198.8' height='198.8' clip-path='url(%26quot%3b%23SvgjsClipPath1020%26quot%3b)' x='401.61' y='223.6' fill='url(%23SvgjsPattern1021)' transform='rotate(184.49%2c 501.01%2c 323)'%3e%3c/rect%3e%3crect width='312' height='312' clip-path='url(%26quot%3b%23SvgjsClipPath1022%26quot%3b)' x='359.88' y='122.48' fill='url(%23SvgjsPattern1023)' transform='rotate(264.35%2c 515.88%2c 278.48)'%3e%3c/rect%3e%3crect width='184.68' height='184.68' clip-path='url(%26quot%3b%23SvgjsClipPath1024%26quot%3b)' x='593.76' y='216.25' fill='url(%23SvgjsPattern1025)' transform='rotate(17.94%2c 686.1%2c 308.59)'%3e%3c/rect%3e%3cpath d='M1166.12 86.19a5.6 5.6 0 1 0-7.13 8.64 5.6 5.6 0 1 0 7.13-8.64zM1155.94 98.53a5.6 5.6 0 1 0-7.13 8.64 5.6 5.6 0 1 0 7.13-8.64zM1145.75 110.87a5.6 5.6 0 1 0-7.13 8.64 5.6 5.6 0 1 0 7.13-8.64zM1135.57 123.21a5.6 5.6 0 1 0-7.13 8.64 5.6 5.6 0 1 0 7.13-8.64z' stroke='%23e73635' stroke-width='2.12' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3cpath d='M1471.75 348.08 L1510.24 307.74L1519.9661511985355 356.88115119853563z' stroke='%23037b0b' stroke-width='2.69' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1013'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='7.38' height='7.38' patternUnits='userSpaceOnUse' id='SvgjsPattern1015'%3e%3cpath d='M0 7.38L3.69 0L7.38 7.38' stroke='%23e73635' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1014'%3e%3ccircle r='92.25' cx='703' cy='360.81'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1017'%3e%3cpath d='M0 6L3 0L6 6' stroke='%23037b0b' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1016'%3e%3ccircle r='69' cx='911.88' cy='466.85'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1019'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='%23d3b714' fill='none' stroke-width='1.27'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1018'%3e%3ccircle r='69' cx='1164.65' cy='280.79'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='198.8' height='9.94' patternUnits='userSpaceOnUse' id='SvgjsPattern1021'%3e%3crect width='198.8' height='4.97' x='0' y='0' fill='%23d3b714'%3e%3c/rect%3e%3crect width='198.8' height='4.97' x='0' y='4.97' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1020'%3e%3ccircle r='49.7' cx='501.01' cy='323'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1023'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='%23e73635' fill='none' stroke-width='1.49'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1022'%3e%3ccircle r='78' cx='515.88' cy='278.48'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='10.26' height='10.26' patternUnits='userSpaceOnUse' id='SvgjsPattern1025'%3e%3cpath d='M0 10.26L5.13 0L10.26 10.26' stroke='%23e73635' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1024'%3e%3ccircle r='46.17' cx='686.1' cy='308.59'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
        background-size: cover;
        background-repeat: no-repeat;
        /* width: 100%; */
        /* background-color: #ee7425; */
    
    }

    .benefits{
        display:none;
    }

    /* FOOTER */
    .footer{
        padding: 10px 20px 200px 20px;
        background-color: #F8FAFB;
    }
    .footer .footer__top{
        padding: 20px 15px 50px 15px !important;
        display: flex;
        flex-direction: column;
    }

    
    .footer__middle{
        padding-left: 20px !important;
        padding-right: 0px !important;
        margin-top: 0px !important;
        position: relative;
        justify-content: space-between;
    }

    .site__language h6{
        font-size: 13px;
    }

    .social__links a{
        margin-left: 5px;
        margin-right: 5px;
        font-size: 10px;
        text-decoration: none;
        color: #000;
    }
    .footer__base{
        margin-top: 0px !important;
    }
    

    .footer__base .footer__base__content{
        position: relative;
        text-align: unset !important;
     }
     
     .footer__base .footer__base__content a{
         display: block;
         margin-top: 20px;
         margin-bottom: 20px;
         color: #000;
     }
    
     /* Start__trial */
.start__trial{
    padding: 120px 20px 50px 20px;
    /* width: 100%; */
    /* background-color: #ee7425; */

}

.start__trial .start__trial__content{
    display: flex;
    flex-direction: column;
}

.start__trial .start__trial__content .start__trial__description{
    margin-top: 20px;
    margin-bottom: 20px;
}

.start__trial .start__trial__content .start__trial__description h3{
    color: #fff;
    font-weight: bolder;
    font-size: 23px;
}

.start__trial .start__trial__content .start__trial__form__box .form-control{
    padding: 30px;
}

.start__trial .start__trial__content .start__trial__form__box #start-trial-btn{
    font-size: 16px !important;
}

.campaigns__box{
    background-image: url('../images/campaign__banner.svg');
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 50px;
}

.campaigns__box .campaigns__top{
    padding-top: 50px;
   padding-right: 20px;
   padding-left:20px;
   text-align: center;
}  

.campaigns__box .campaigns__top h2{
    color: #fff;
    font-size: 40px;
}

.campaigns__box .campaigns__top p{
    color: #fff;
    font-size: 17px;
    margin-top: 10px;
}

.campaigns__box .campaigns{
    margin-left: 0px !important;
    padding: 20px 0px 20px 0px !important;
}
.campaigns__box .campaigns .campaign__lists{
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.campaigns__box .campaigns .campaign__lists a{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    background-color: #ee7425;
    color: #fff;
    padding:12px;
    font-weight: bold;
}

.campaigns__box .campaigns .campaign__lists a:hover{
    background-color: #fff;
    color: #3097B8;
}


.campaigns__list__details{
    padding:0px 20px 50px 20px;
}

.campaign__list__items{
    margin-top: 80px;
}

.campaigns__list__details .campaign__list__items .campaign__list__header h4{
    font-size: 30px;
    font-weight: bold;
}

.campaigns__list__details .campaign__list__items p{
    font-size: 17px;
}

.campaigns__list__details .campaign__list__items .campaign__list__content{
    margin-top: 10px;
}
.campaign__image__content img{
    width: 100%;
}




    
    
    
}   





/* ########################################################################################## */
/* ########################################################################################## */
/* ########################################################################################## */

@media (max-width:1024px) and (min-width:768px){
    /* #Navigation
================================================== */

.collapse{
    position: relative;
    bottom:0;
    

    }

    .collapse .navbar-nav{
        margin-top: 30px;
    }

    .collapse .navbar-nav .nav-item .nav-link{
        font-size: 14px !important;
    }
    
    .navbar-collapse .navbar-nav .nav-item{
        margin-bottom: 30px;
        margin-left: 7px;
    }
    

    .header .navbar .navbar-brand img{
        width:50%;
    }

.top__container{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 140px;
    padding-bottom: 30px;
    /* background-image: url('../images/prepo_bg.jpg');
    background-size: cover; */
    position: relative;
    top: 90px;
    background-color: #b2e8ff;
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fff8f8'/%3E%3Cstop offset='1' stop-color='%23fff8f8' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fff6fb'/%3E%3Cstop offset='1' stop-color='%23fff6fb' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fef9ff'/%3E%3Cstop offset='1' stop-color='%23fef9ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fffbf5'/%3E%3Cstop offset='1' stop-color='%23fffbf5' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fffafd'/%3E%3Cstop offset='1' stop-color='%23fffafd' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23faf7ff'/%3E%3Cstop offset='1' stop-color='%23faf7ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");*/
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;

    /* background: linear-gradient(to right, rgba(255,255,255,1), #F8FAFB); */

}
.top__content{
    display: grid;
    grid-template-columns: 50% 50%;
}

.left__side__top h1{
    font-size: 38px;
    color: #384257;
    line-height: 44px;
    margin-bottom: 20px;
}

.right__side__top img{
    width: 80%;
}



.left__side__top .trial-box .form-control{
    padding: 30px;
    offset: inherit !important;
}



#start-trial-btn{
    background-color: #ee7425;
    color: #fff;
    border: none;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 15px;
}



.prepo__container{
    padding: 120px 20px 0px 20px !important;
}

.prepo__content__inner{
    padding: 10px;
    margin-bottom: 20px;
}


.prepo__img figure img{
    width: 260px;
}



.prepo__title h2{
    margin-bottom: 24px;
    font-size:24px !important;
    color: #000;
    font-weight: bolder;
    margin-left: 50px !important;
}

.mid__prepo{
    padding-top: 20px !important;
}

.lead h3{
    color:#000;
    font-weight: bold;
    font-size: 20px;
}
.prepo__main__content .prepo__p{
    margin-top: 20px;
}

.prepo__main__content .prepo__p p{
    font-size: 18px;
    font-weight: unset;
    line-height: 33px;
}

 /* Kreeksend Partners */

 .kreeksend_partners{
    padding-top: 70px;
    padding-left:30px;
    padding-right: 30px;
    padding-bottom: 10px;
    /* background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fffefb'/%3E%3Cstop offset='1' stop-color='%23fffefb' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ffffff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fffefb'/%3E%3Cstop offset='1' stop-color='%23fffefb' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ffffff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fffdf7'/%3E%3Cstop offset='1' stop-color='%23fffdf7' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ffffff' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; */
     /* box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15); */

    background-color: #F8FAFB;
    
}

.kreeksend_partners .heading__text h2{
    font-size:28px !important;
    text-align: center;
    text-transform: uppercase;
}



.kreeksend_partners_img{
    margin-bottom: 0px;
    text-align: center;
  
}

.kreekafrica{
    position: relative;
    bottom: 20px;
}

.kreekafrica img{
    width: 140px;
}

.tekedia{
    position: relative;
    top: 25px;
}

.tekedia img{
    width: 140px;
}

.workshed img{
    width: 140px;
}

.smart_solutions{
    position: relative;
    bottom: 25px;
}

.smart_solutions img{
    width: 150px;
}
.cropyfy{
    position: relative;
    top: 15px;
}
.cropyfy img{
    width: 60px;
}

.oilet{
    position: relative;
    bottom: 0px;
}
.oilet img{
    width: 80px;
}


 /* Pricing */
    
 .pricing__container{
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:50px;
}

.plans{
    background-image: url('../images/plans_banner.svg');
    background-size: cover;
}

.pricing__container .heading__text h2{
    font-size: 40px;
    color: #000;
    font-weight: unset !important;
}

.pricing__flex{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 1rem;
    padding-left: 10px;
    padding-right: 10px;

}

.pricing__package{
    margin-top: 30px;
    padding: 30px !important;
    border: .125rem solid #dbd9d2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3.125rem 1.25rem 1.25rem;
    margin: 1.25rem 0;
    position: relative;
}

.pricing__benefits__box{
    margin-top: 30px;
}
.pricing__benefits__box ul{
    display: inline-block;
    list-style-type: disc;
    padding-left: unset !important;
}

.pricing__benefits__box ul li{
    list-style: none;
    margin-bottom: 14px;
}

/* .essential{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fffefb'/%3E%3Cstop offset='1' stop-color='%23fffefb' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ffffff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fffefb'/%3E%3Cstop offset='1' stop-color='%23fffefb' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ffffff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fffdf7'/%3E%3Cstop offset='1' stop-color='%23fffdf7' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ffffff' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
} */

.pricing__package .pricing__package__title h3{
    font-size: 28px !important;
    color: #000;
    font-weight: unset !important;
}

.plans .pricing__flex .pricing__flex .pricing__package__title h3{
    color: #fff;
}


.pricing__package__description{
    margin-top: 20px;
}
.pricing__package__description p{
    font-size: 15px;
}

.pricing__carriage{
    padding: 5px;
}

.pricing__carriage h4{
    color:#000;
    font-size: 22px;
}

.dollar__sign{
    position: relative;
    top: -50px;
}

.package__fee{
    font-size: 70px;
    font-weight: normal;
}

.pricing__package__link{
    margin-top: 15px;
}
.pricing__package__link .package__btn{
    background-color:#3097B8 ;
    padding: 12px;
    color: #fff;
    font-weight: bold;
    border-radius: unset !important;
}

.pricing__package__link .package__btn:hover{
    border: 2px solid #ee7425;
    background-color: #ee7425;
    color: #fff;
}

.pricing__package__compare .btn-lg{
    padding: 12px 15px 12px 15px;
    color: #000;
    font-weight: bold;
    background-color: #F2F527;
    border-radius: 30px;
    font-size: 20px;
}
.pricing__package__compare .btn-lg:hover{
    background-color: #000;
    color: #F2F527;
}

/* Benefits */
.benefits{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:0px;
}

/* Start__trial */
.start__trial{
    padding: 50px 50px 50px 50px !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1013%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(12%2c 70%2c 130%2c 1)'%3e%3c/rect%3e%3cpath d='M1227.1599999999999 250.69 L1307.48 226.32999999999998L1226.745253535128 197.93525353512808z' fill='%23d3b714'%3e%3c/path%3e%3crect width='369' height='369' clip-path='url(%26quot%3b%23SvgjsClipPath1014%26quot%3b)' x='518.5' y='176.31' fill='url(%23SvgjsPattern1015)' transform='rotate(194.18%2c 703%2c 360.81)'%3e%3c/rect%3e%3crect width='276' height='276' clip-path='url(%26quot%3b%23SvgjsClipPath1016%26quot%3b)' x='773.88' y='328.85' fill='url(%23SvgjsPattern1017)' transform='rotate(200.81%2c 911.88%2c 466.85)'%3e%3c/rect%3e%3crect width='276' height='276' clip-path='url(%26quot%3b%23SvgjsClipPath1018%26quot%3b)' x='1026.65' y='142.79' fill='url(%23SvgjsPattern1019)' transform='rotate(118.61%2c 1164.65%2c 280.79)'%3e%3c/rect%3e%3cpath d='M500.58 230.59L510.52 222.51 520.58 230.44 530.52 222.37 540.58 230.29 550.52 222.22 560.58 230.15M500.64 238.59L510.58 230.51 520.64 238.44 530.58 230.37 540.64 238.29 550.58 230.22 560.64 238.15M500.7 246.59L510.64 238.51 520.7 246.44 530.64 238.37 540.7 246.29 550.64 238.22 560.7 246.15' stroke='%23e73635' stroke-width='1.27' stroke-dasharray='3%2c 3'%3e%3c/path%3e%3cpath d='M1068.72 561.62 L1032.14 527.2L1084.76921205594 510.0707879440601z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M236.02 6.66a5.6 5.6 0 1 0 4.29-10.35 5.6 5.6 0 1 0-4.29 10.35zM242.14-8.13a5.6 5.6 0 1 0 4.29-10.35 5.6 5.6 0 1 0-4.29 10.35zM248.26-22.91a5.6 5.6 0 1 0 4.29-10.35 5.6 5.6 0 1 0-4.29 10.35zM254.38-37.69a5.6 5.6 0 1 0 4.29-10.35 5.6 5.6 0 1 0-4.29 10.35zM238.56 42.34a5.6 5.6 0 1 0 4.29-10.35 5.6 5.6 0 1 0-4.29 10.35zM244.68 27.56a5.6 5.6 0 1 0 4.29-10.35 5.6 5.6 0 1 0-4.29 10.35zM250.8 12.78a5.6 5.6 0 1 0 4.29-10.35 5.6 5.6 0 1 0-4.29 10.35zM256.93-2.01a5.6 5.6 0 1 0 4.28-10.34 5.6 5.6 0 1 0-4.28 10.34zM241.11 78.03a5.6 5.6 0 1 0 4.28-10.35 5.6 5.6 0 1 0-4.28 10.35zM247.23 63.25a5.6 5.6 0 1 0 4.28-10.35 5.6 5.6 0 1 0-4.28 10.35zM253.35 48.46a5.6 5.6 0 1 0 4.28-10.34 5.6 5.6 0 1 0-4.28 10.34zM259.47 33.68a5.6 5.6 0 1 0 4.28-10.35 5.6 5.6 0 1 0-4.28 10.35z' fill='%23037b0b'%3e%3c/path%3e%3crect width='198.8' height='198.8' clip-path='url(%26quot%3b%23SvgjsClipPath1020%26quot%3b)' x='401.61' y='223.6' fill='url(%23SvgjsPattern1021)' transform='rotate(184.49%2c 501.01%2c 323)'%3e%3c/rect%3e%3crect width='312' height='312' clip-path='url(%26quot%3b%23SvgjsClipPath1022%26quot%3b)' x='359.88' y='122.48' fill='url(%23SvgjsPattern1023)' transform='rotate(264.35%2c 515.88%2c 278.48)'%3e%3c/rect%3e%3crect width='184.68' height='184.68' clip-path='url(%26quot%3b%23SvgjsClipPath1024%26quot%3b)' x='593.76' y='216.25' fill='url(%23SvgjsPattern1025)' transform='rotate(17.94%2c 686.1%2c 308.59)'%3e%3c/rect%3e%3cpath d='M1166.12 86.19a5.6 5.6 0 1 0-7.13 8.64 5.6 5.6 0 1 0 7.13-8.64zM1155.94 98.53a5.6 5.6 0 1 0-7.13 8.64 5.6 5.6 0 1 0 7.13-8.64zM1145.75 110.87a5.6 5.6 0 1 0-7.13 8.64 5.6 5.6 0 1 0 7.13-8.64zM1135.57 123.21a5.6 5.6 0 1 0-7.13 8.64 5.6 5.6 0 1 0 7.13-8.64z' stroke='%23e73635' stroke-width='2.12' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3cpath d='M1471.75 348.08 L1510.24 307.74L1519.9661511985355 356.88115119853563z' stroke='%23037b0b' stroke-width='2.69' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1013'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='7.38' height='7.38' patternUnits='userSpaceOnUse' id='SvgjsPattern1015'%3e%3cpath d='M0 7.38L3.69 0L7.38 7.38' stroke='%23e73635' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1014'%3e%3ccircle r='92.25' cx='703' cy='360.81'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1017'%3e%3cpath d='M0 6L3 0L6 6' stroke='%23037b0b' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1016'%3e%3ccircle r='69' cx='911.88' cy='466.85'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1019'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='%23d3b714' fill='none' stroke-width='1.27'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1018'%3e%3ccircle r='69' cx='1164.65' cy='280.79'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='198.8' height='9.94' patternUnits='userSpaceOnUse' id='SvgjsPattern1021'%3e%3crect width='198.8' height='4.97' x='0' y='0' fill='%23d3b714'%3e%3c/rect%3e%3crect width='198.8' height='4.97' x='0' y='4.97' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1020'%3e%3ccircle r='49.7' cx='501.01' cy='323'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1023'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='%23e73635' fill='none' stroke-width='1.49'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1022'%3e%3ccircle r='78' cx='515.88' cy='278.48'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='10.26' height='10.26' patternUnits='userSpaceOnUse' id='SvgjsPattern1025'%3e%3cpath d='M0 10.26L5.13 0L10.26 10.26' stroke='%23e73635' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1024'%3e%3ccircle r='46.17' cx='686.1' cy='308.59'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 100%; */
    /* background-color: #ee7425; */

}

.start__trial .start__trial__content{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1rem;
}

.start__trial .start__trial__content .start__trial__description h3{
    color: #fff;
    font-weight: bold;
    font-size: 26px !important;
}

.start__trial .start__trial__content .start__trial__form__box .form-control{
    padding: 36px;
}
.start__trial__b



  /* FOOTER */
  .footer{
    background-color: #F8FAFB;
    padding: 30px !important;
    /* border-top: 1px solid #999; */

}

.footer .footer__top{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 2rem;
    position: relative;
    justify-items: center;
}
.footer__top__content .footer__top__content__title{
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 500;
}


.footer__top__content .footer__top__content__items a{
    display: block;
    margin-bottom: 10px;
    color: #000;
    font-size: 14px;
}

.footer__middle{
    display: flex;
    margin-top: 15px;
    position: relative;
    justify-content: space-between;
    padding-left: 69px;
    padding-right: 69px;
}

.social__links a{
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    color: #000;
}

.footer__base{
    margin-top: 20px;
}

.footer__base .footer__base__content{
   position: relative;
   padding: 7px;
}

.footer__base .footer__base__content a{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    color: #000;
}

.site__copyright{
    margin-top: 15px;
    color: #000;
}


.campaigns__box{
    background-image: url('../images/campaign__banner.svg');
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 80px;
}

.campaigns__box .campaigns__top{
    padding-top: 80px;
   padding-right: 20px;
   padding-left:20px;
   text-align: center;
}  

.campaigns__box .campaigns__top h2{
    color: #fff;
    font-size: 50px;
}

.campaigns__box .campaigns__top p{
    color: #fff;
    font-size: 24px;
    margin-top: 10px;
}

.campaigns__box .campaigns{
    padding: 10px !important;
}

.campaigns__box .campaigns .campaign__lists a{
    display: inline-block;
    margin-left: 2px !important;
    margin-right: 2px !important;
    background-color: #ee7425;
    color: #fff;
    padding:7px;
    font-weight: normal !important;
}

.campaigns__list__details{
    padding:0px 60px 50px 60px;
}

.campaign__list__items{
    margin-top: 120px;
}


.campaigns__list__details .campaign__list__items .campaign__list__header h4{
    font-size: 35px;
    font-weight: bold;
}

.campaigns__list__details .campaign__list__items p{
    font-size: 20px;
}

.campaigns__list__details .campaign__list__items .campaign__list__content{
    margin-top: 10px;
}
.campaign__image__content img{
    width: 100%;
}



.insights, .templates{
    margin-top: 10px;
}


.campaigns__box .campaigns .campaign__lists a:hover{
    background-color: #fff;
    color: #3097B8;
}

    
}

/* #################################################################################################################################### */
/* #################################################################################################################################### */
/* #################################################################################################################################### */
/* #################################################################################################################################### */

@media only screen and (width:1024px){
    .collapse .navbar-nav .nav-item {
        font-size: 12px;
        margin-right: 26px !important;
    }
    .top__container{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 70px;
        padding-bottom: 30px;
        /* background-image: url('../images/prepo_bg.jpg');
        background-size: cover; */
        position: relative;
        top: 90px;
        background-color: #b2e8ff;
        /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fff8f8'/%3E%3Cstop offset='1' stop-color='%23fff8f8' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fff6fb'/%3E%3Cstop offset='1' stop-color='%23fff6fb' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fef9ff'/%3E%3Cstop offset='1' stop-color='%23fef9ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fffbf5'/%3E%3Cstop offset='1' stop-color='%23fffbf5' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fffafd'/%3E%3Cstop offset='1' stop-color='%23fffafd' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23faf7ff'/%3E%3Cstop offset='1' stop-color='%23faf7ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");*/
        background-attachment: fixed;
        background-size: cover;
        z-index: -1;
}

}